body{
 background-color: rgb(216, 155, 255);
}

h1{
  color: rgb(0, 0, 0);
}

#Trabajo{
  display: flex;
justify-content: flex-start;
margin: 10px;
font-size: 20px;
}

.cartel{
  width: 1550px;
  height: 550px;

}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-left: 10px;
}

.logo{
display: flex;
width: 75px;
height: 75px;

}


.info{
  display: flex;
  justify-content: center;
  align-items: center;
}


.parrafo{
  color: rgb(151, 51, 245);
    font-size: 60px;
    display: flex;
    align-items: center;
    
}

.parrafo2{
  color: rgb(0, 0, 0);
  font-size: 35px;
  
  display: flex;
  height: 200px;
  align-items: center;
}

