body{
  background-color: rgb(173, 242, 161);
}
#Trabajo{
  display: flex;
justify-content: flex-start;
margin: 15px;
height: 35px;
font-size: 35px;
}

  

.cartas{
   font-size: 15px;
   margin: 50px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
  }



.me-2{
display: flex;
font-size: 20px;
text-align: start;
width: 200px;
height: 50px;
}

.buscador{
  display: flex;
  justify-content: flex-end;
}
