
#Trabajo{
  display: flex;
justify-content: flex-start;
margin: 10px;
font-size: 20px;
}

.cartel{
  width: 1550px;
  height: 550px;

}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-left: 10px;
}

.logo{
display: flex;
width: 75px;
height: 75px;
}

.buscador{
  display: flex;
  justify-content: flex-end;
}

